/* Global Styles */

body {
    font-family: "Montserrat", sans-serif;
    background-color: #1b1b1b;
}

h1 {
    font-weight: 600;
    line-height: 78px;
    font-size: 45px;
}

p {
    font-weight: 400;
    line-height: 20px;
    font-size: 13px;
}

a {
    background: #1c9dff;
    box-shadow: 0px 2px 20px rgba(28,157,255,0.5);
    border-radius: 100px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
    padding: 10px 20px;
    text-decoration: none;
    margin-right: 15px;
    width: fit-content;
}

/* Hero Section */

#hero-section {
    /* Layout */
    padding: 10px;
    position: relative;
    overflow: hidden;
    height: 50vh;

    /* Style */
    background: linear-gradient(180deg, rgba(20, 21, 27, 0.5) 0%, #14151B 100%), url("assets/Hero-Background-Image-Overlay-Dots.png");
    color: #fff;
    
}

#hero-section video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.carousel-content {
    padding: 50px 90px;
    display: flex;
    flex-direction: column;
}

.carousel-inner {
    padding: 0 75px;
}

.carousel-indicators button {
    height: 5px !important;
    padding: 0;
    border: none !important;
    background: #1c9dff !important;
    box-shadow: 0px 2px 20px rgba(28,157,255,0.5) !important;
    border-radius: 100px !important;
}